<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MVC 1.0</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <!-- Home -->
        <li>
          <a href="/">Home</a>
        </li>

        <!-- API -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
            API <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="api/1.0-edr2">1.0-edr2 (latest)</a>
            </li>
            <li>
              <a href="api/1.0-edr1">1.0-edr1</a>
            </li>
          </ul>
        </li>

        <!-- Contribute -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
            Contribute <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="https://java.net/projects/mvc-spec/lists">Mailing Lists</a>
            </li>
            <li>
              <a href="http://java.net/jira/browse/MVC_SPEC">JIRA</a>
            </li>
          </ul>
        </li>

        <!-- Ozark -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
            Ozark (RI)<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="https://ozark.java.net/">Homepage</a>
            </li>
            <li>
              <a href="https://java.net/jira/browse/ozark">JIRA</a>
            </li>
            <li>
              <a href="https://ozark.java.net/scm.html">Source Code</a>
            </li>
          </ul>
        </li>

        <!-- JCP -->
        <li>
          <a href="https://jcp.org/en/jsr/detail?id=371">JCP</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
